[submodule "ezsim/ext/LuisaRender"]
	path = ezsim/ext/LuisaRender
	url = https://github.com/Alif-01/LuisaRender
[submodule "ezsim/ext/ParticleMesher"]
	path = ezsim/ext/ParticleMesher
	url = https://github.com/ACMLCZH/ParticleMesher
