[submodule "ezsim/ext/LuisaRender"]
	path = ezsim/ext/LuisaRender
	url = ghpri:Alif-01/LuisaRender.git
[submodule "ezsim/ext/ParticleMesher"]
	path = ezsim/ext/ParticleMesher
	url = ghpri:ACMLCZH/ParticleMesher.git
